
/* =============== UTILIDADES Y RESPONSIVE================*/
.oculto {
  display: none !important;
  opacity: 0;
  pointer-events: none;
  height: 0 !important;
  overflow: hidden;
  transition: opacity 0.4s, transform 0.4s;
}

button:focus {
  outline: 2px solid var(--color-terciario);
  outline-offset: 2px;
}

/* =============== ANIMACIONES =============== */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes slideUp {
  from { transform: translateY(30px); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-20px); }
  to   { opacity: 1; transform: translateY(0); }
}

.fade-in {
  animation: fadeInDown 0.6s ease-out;
}


